<table class="table">
  <thead>
    <tr>
      <th>Login</th>
      <th>Authentication token</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= current_admin.login %></td>
        <td><%= current_admin.authentication_token %></td>
        <td><%= current_admin.created_at %></td>
      </tr>
  </tbody>
</table>
