<div class="control-group">
  <%= form.label :name %>
  <div class="controls">
    <%= form.text_field :name, :class => "input-xlarge" %>
  </div>
</div>

<div class="control-group">
  <%= form.label :description %>
  <div class="controls">
    <%= form.text_area :description, :rows => 10, :class => "input-xlarge" %>
  </div>
</div>
